<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Student academic performance</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/perform.css')}}">
    <meta charset="UTF-8">
</head>

<body>

    <div id="background-header"></div>

    <div id="container">

         <div id="header">

            <img id="logo" src="{{url_for('static', filename='img/sts.jpg')}}" alt="Logo" />

             <p class="slogan"> Welcome to Student Academic Performance </p>

            <ul id="ul-header">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="students">Students</a></li>
                <li><a href="Prediction.html">Prediction</a></li>


            </ul>

        </div>

        <div id="empty"></div>

        <div id="background-restaurant">

<!--
            <h3 style="text-align: center";>Thank you for visiting this website <br/></h3>

                 <p style=" text-align: center; /* margin-left: 200px; */ color: #000000;/* text-size-adjust: auto; */
                      size: 40; font-size: 20px;">  This is a student project for the course Learning Analytics in University of Duisburg-Essen. <br/></p>

            <p style="font-size: large; color: #a52828; text-align: center"> The project is aiming to:  <br/></p>

            <p style="text-align: center"> Explore the students performance dataset by perform some initial data visualization. <br/></p>
                 <p style="text-align: center">    Apply the machine learning algorithms on the dataset to determine most important features and attempt to predict the students performance based on these features.</p>


            </center>


<center>
--><center>
            <div class="main_cat" style="position: absolute;display: block;width: 200px;left: 70%; /* Padding and margins */
    bottom: 30%; margin-top: 50px; margin-left: auto; margin-right: auto; font-size: 29px;padding: 30px 30px;
    border-radius: 20px; background: #ff663869; color: black; border: 2px solid #000c;">
                        <center>

                        <a href="{{ url_for('dataForm') }}" class="btn" style="color: black; text-decoration: none;">Start</a>
                     <!--<a href="https://github.com/Meijie66/Orchids-LA"><button class="button_home_external github"><i class="fab fa-github fa-4x"></i><br/><br/>See the project in GitHub</button></a>-->
</center>
                    </div>
            </center>

        </div>




    <div id="background-footer-hidden">

        <div class="footer">
            <p>Please contact Orchid group at Orchid.group@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Student academic performance</em> </p>
            <p>&copy; 2020 Student performance. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">

        <div class="footer">
            <p>Please contact Orchid group at Orchid.group@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Student academic performance</em> </p>
            <p>&copy; 2020 Student performance. All Rights Reserved.</p>
        </div>

    </div>

</div>

</html>
