<!DOCTYPE html>
<html>

<head>
    <title>Student academic performance</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <meta charset="UTF-8">
</head>

<body>

    <div id="background-header"></div>

    <div id="container">

         <div id="header">

            <img id="logo" src="{{url_for('static', filename='img/sts.jpg')}}" alt="Logo" />

            <p class="slogan">Welcome to Student Academic Performance</p>

            <ul id="ul-header">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="Students">Students</a></li>
                <li><a href="Prediction">Prediction</a></li>
                <li><a href="AboutUs">About Us</a></li>

            </ul>

        </div>

        <div id="empty"></div>

        <div id="background-restaurant">

            <p> <center> Thank you for visiting this website. <br/></p>
            <p>
                    This is a student project for the course Learning Analytics in University of Duisburg-Essen. <br/>
                    The project is aiming to:  <br/>Explore the students performance dataset by perform some initial data visualization. <br/>
                     Apply the machine learning algorithms on the dataset to determine most important features and attempt to predict the students performance based on these features.</p>



            </center>


<center>


                    <div class="main_cat">
                        <a href="https://github.com/Meijie66/Orchids-LA"><button class="button_home_external github"><i class="fab fa-github fa-4x"></i><br/><br/>See the project in GitHub</button></a>

                    </div>
                </center>
        </div>




    <div id="background-footer-hidden">

        <div class="footer">
            <p>Please contact Sinisa Bubonja at sinisa.bubonja@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Pizza Bubonja's</em> is not real restaurant. This website is part of my portfolio and is completely fictional.</p>
            <p>&copy; 2016 Pizza Bubonja's. All Rights Reserved.</p>
        </div>

    </div>

    <div id="background-footer">

        <div class="footer">
            <p>Please contact Sinisa Bubonja at sinisa.bubonja@gmail.com with problems or questions about this web page.</p>
            <p>DISCLAIMER: <em>Pizza Bubonja's</em> is not real restaurant. This website is part of my portfolio and is completely fictional.</p>
            <p>&copy; 2016 Pizza Bubonja's. All Rights Reserved.</p>
        </div>

    </div>

</body>

</html>
